In [15]:
#pip install mlxtend

In [1]:
A = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
     ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
     ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
     ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
     ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

B = {
    101 : ['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
    102 : ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
    103 : ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
    104 : ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
    105 : ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']
}

In [2]:
A

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [3]:
B

{101: ['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 102: ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 103: ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 104: ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 105: ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']}

In [5]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()

Q = pd.DataFrame(te.fit_transform(A),columns=te.columns_)
Q[["Eggs","Kidney Beans"]]

    Eggs  Kidney Beans
0   True          True
1   True          True
2   True          True
3  False          True
4   True          True

In [6]:
from mlxtend.frequent_patterns import apriori
apriori(Q,use_colnames=True,min_support=0.6)

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Eggs, Kidney Beans, Onion)

In [7]:
def conf(df,item1,item2):
    x = df[item1].sum()
    y = df[[item1,item2]][(df[item1] == True) & (df[item2] == True)].shape[0]
    return y/x

In [8]:
conf(Q,"Eggs","Onion")

0.75

In [9]:
conf(Q,"Eggs","Milk")

0.5

In [10]:
Q

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [11]:
Q[["Eggs","Onion"]]

    Eggs  Onion
0   True   True
1   True   True
2   True  False
3  False  False
4   True   True

In [12]:
Q[Q.Eggs == True].shape[0]

4

In [13]:
Q[(Q.Eggs == True)&(Q.Onion == True)].shape[0]

3

In [14]:
3/4

0.75